# Firebase admin secret
C:\Users\USER\Desktop\Personal\Study\codes\Projects Mix\BingoGame\bingogame-ac21c-firebase-adminsdk-fbsvc-e8e248c49c.json
*-firebase-adminsdk-*.json
serviceAccountKey.json

# Environment files
.env
