serviceAccountKey.json
.env
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/
build/
ios/Pods/
ios/Runner/GeneratedPluginRegistrant.*
macos/Pods/
web/.dart_tool/
web/build/
.env
.DS_Store
Thumbs.db
