version: "3.9"

services:
  backend:
    build: ./backend
    container_name: bingo-backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo
    volumes:
      - ./backend:/app
      - /app/node_modules
    restart: always

  web:
    build: ./web
    container_name: bingo-web
    ports:
      - "3000:3000"
    env_file:
      - ./web/.env
    depends_on:
      - backend
    volumes:
      - ./web:/app
      - /app/node_modules
    restart: always

  mongo:
    image: mongo:6
    container_name: bingo-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

volumes:
  mongo_data:
