.env
/src/database/date.js
/src/database/seed.js
# dependencies
node_modules/
backend/node_modules/


# environment
.env
.env.*

# logs
logs/
*.log

# build
dist/
build/

# vscode
.vscode/

# OS
.DS_Store
Thumbs.db